*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-pago{
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    div{
        background-color: gainsboro;
        border-radius: 5px;
        width: 90%;
        display: flex;
        align-items: center;
        h2{
            width: 100%;
            text-align: center;
        }
        select{
            border: 1px solid #172169;
            border-radius: 5px;
            color: #172169;
            height: 80%;
        }
    }
}