*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper-pago{
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title_select{
        background-color: gainsboro;
        border-radius: 5px;
        width: 90%;
        display: flex;
        align-items: center;
        h2{
            width: 100%;
            text-align: center;
        }
        select{
            border: 1px solid #172169;
            border-radius: 5px;
            color: #172169;
            height: 80%;
            option{
                font-weight: 600;
            }
        }
    }
    .div-padre{
        display: flex;
        justify-content: center;
        width: 100%;
    }
}  