*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cuerpo-transfer{
    width: 90%;
    .formulario-transfer{
        width: 100%;
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: auto;
        gap: 0px 0px;
        grid-template-areas: 
        'input-item input_pago'
        'button';
        .input-transfer{
            margin-top: 20px;
            display: flex;
            height: 100%;
            .group-transfer{
                margin-right: 40px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                label{
                    text-align: start;
                    font-weight: 600;
                }
                input{
                    border: 0px solid white;
                    border-bottom: 2px solid #00A6F9;
                    width: 100%;
                }
            }
        }
        .pago-transfer{
            margin-top: 20px;
            display: flex;            
            flex-direction: column;
            height: 100%;
            label{
                text-align: start;
                font-weight: 600;
            }
            input{
                border: 0px solid white;
                border-bottom: 2px solid #00A6F9;
                width: 100%;
            }

        }
        .button{
            border-radius: 5px;
            padding-top: 5px;
            padding-bottom: 5px;
            width: 20%;
            background-color: #172169;
            color: white;
            margin-top: 10px;
        }
    }
    p{
        text-align: end;
        font-weight:700;
    }
}