.formulario-cash{
    margin-top: 20px;
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-template-areas: 
    'form_cheque form_monto'
    'button';
    .input-cash{
        display: flex;
        width: 100%;
        .group-cash{
            margin-right: 50px;
            display: flex;
            flex-direction: column;
            width: 100%;
            label{
                text-align: start;
                font-weight: 600;
            }
            input{
                border: 0px solid white;
                border-bottom: 2px solid #00A6F9;
            }
        }
    }
    .pago-cash{
        display: flex;
        flex-direction: column;
        label{
            text-align: start;
            font-weight: 600;
        }
        input{
            border: 0px solid white;
            border-bottom: 2px solid #00A6F9;
        }
        
    }
    button{
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        width: 20%;
        background-color: #172169;
        color: white;
        margin-top: 10px;
    }
}